.offers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; */
    height:auto;
    background: #ececff;
    width: 100%;
}
.offers-container{
    height: 100%;
    margin: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}