.footer-container{
    
    width: 100%;
    height: auto;
    position: fixed;
    display: flex
;
    /* align-items: center; */
    justify-content: center;
    /* margin-bottom: 50px; */
    bottom: 46px;

}



@media screen and (max-width: 480px) {
    .footer-container{
        display: none;
    }

    
}

